/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* General Styles */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.header-nav {
  width: 30%;
  max-height: 200%;
  display: flex;
  align-items: center;
  margin-right: 2%;
}
.header-nav nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.header-nav nav .logIn {
  color: #E07BE0;
}
.header-nav nav a {
  margin-right: 2%;
  text-decoration: none;
  font-size: 2rem;
  color: #932F6D;
}
.main-container {
  background-color: #F6F2FF;
}
.main-container header {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}
.main-container header .h1 {
  width: 50%;
}
.main-container header .h1 span {
  color: #932F6D;
}
.main-container header h1 {
  font-family: 'Permant Marker', sans-serif;
  font-style: italic;
  color: #420039;
  font-size: 3.5rem;
  margin-left: 3%;
}
.main-container .img-div {
  background: url(../design-files/planeride.jpg) no-repeat;
  display: block;
  padding: 250px;
  background-position: center;
  background-size: cover;
  margin-bottom: 8%;
}
.main-container .img-div .img-h3 {
  margin-left: 6%;
  margin-bottom: 1%;
  color: white;
  font-size: 4rem;
  line-height: 1.4;
  letter-spacing: 1px;
  font-weight: bold;
}
.main-container .img-div .img-p {
  margin-left: 6%;
  color: white;
  font-size: 3rem;
  letter-spacing: 1px;
}
.main-container .firstSection {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 2%;
  background-color: #F6F2FF;
  padding-left: 2%;
  padding-right: 2%;
}
.main-container .firstSection .icons {
  text-align: center;
  margin-bottom: 4%;
  text-shadow: 1px 1px 1px black;
  color: #932F6D;
}
.main-container .firstSection hr {
  margin-top: 2%;
  margin-right: 1%;
}
.main-container .firstSection .firstDiv {
  width: 75%;
  margin-right: 1%;
}
.main-container .firstSection .firstDiv p {
  color: #420039;
}
.main-container .firstSection .firstDiv .fa-wind {
  text-align: center;
  text-shadow: 1px 1px 1px black;
}
.main-container .firstSection .secondDiv {
  width: 75%;
  margin-right: 1%;
}
.main-container .firstSection .secondDiv p {
  color: #420039;
}
.main-container .firstSection .thirdDiv {
  width: 75%;
}
.main-container .firstSection .thirdDiv p {
  color: #420039;
}
.main-container .firstSection h2 {
  color: #932F6D;
  font-size: 2.9rem;
  text-align: center;
  margin-bottom: 3%;
  font-family: 'PT sans', sans-serif;
  font-weight: 200;
}
.main-container .firstSection p {
  font-size: 2rem;
  text-align: center;
  line-height: 1.4;
  letter-spacing: 1px;
  font-family: 'Montserra', sans-serif;
}
