header{
    // border: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 1%;

    .h1{
        // border: 1px solid peru;
        width: 50%;
    }

    h1{
        font-size: 3.5rem;
        margin-left: 3%;
        // border: 1px solid blue;
    }
}