

body{
    background-color: #F6F2FF;
    // border: 2px solid blue;

    @media @phone {
        // margin: 0 auto;
        width: 100%;
    }

    header{
        // border: 2px solid black;
        display: flex;
        justify-content: space-between;
        padding: 3%;

        @media @phone{
            // border: 1px solid red;
            width: 100%;
            flex-direction: column;
            align-items: center;

        }
    
        .h1{
            // border: 1px solid peru;
            width: 50%;
            
            span{
                color: #932F6D;
            }
        } // .h1
    
        h1{
            font-family: 'Permant Marker', sans-serif;
            font-style: italic;
            color: #420039;
            opacity: 0.7;
            font-size: 3.5rem;
            margin-left: 3%;
            // border: 1px solid blue;
        } // h1
    } // header

    .img-div{
        // border: 2px solid red;
        background:url(https://media.mnn.com/assets/images/2019/03/girl_on_plane.jpg.653x0_q80_crop-smart.jpg) no-repeat;
        height: 78vh;
        width: 100%;
        display: block;
        padding: 225px;
        background-position: center;
        background-size: cover;

        margin-bottom: 8%;

        @media @phone{
            padding: 120px; // was originally 150px
        }
        
        
        .img-h3{
            margin-left: 16%; // was originally 6% with pic in design file
            margin-bottom: 1%;
            color: white;
            font-size: 4rem;
            line-height: 1.4;
            letter-spacing: 1px;
            font-weight: bold;
            font-style: italic;
            font-family: serif, sans-serif;

            @media @phone{
                font-size: 3rem;
                position: relative;
                right: 30%;
            }
        }
        
        .img-p{
            margin-left: 16%; // was originally 6% with pic in design file
            color: white;
            font-size: 3rem;
            letter-spacing: 1px;
            font-family: serif, sans-serif;

            @media @phone{
                // border: 1px solid white;
                width: 300px;
                font-size: 2rem;
                position: relative;
                right: 30%;
            }
        }
    }

    .intro{
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;

        @media @phone{
            padding: 1%;
            padding-top: 2%;
        }

        h2{
        color: #932F6D;
        font-size: 3.5rem;
        font-family: 'PT sans', sans-serif;
        font-weight: 200;

        @media @phone{
            padding: 2%;
        }
        }

        p{
            color: #420039;
            opacity: 0.7;
            font-size: 2rem;
            // border: @borderBoxRed;
            line-height: 1.4;
            letter-spacing: 1px;
            font-family: 'Source Sans Pro', sans-serif;
            padding: 6%;
        }
    }

    .firstSection{
        display: flex;
        justify-content: center;
        // border: @borderBoxBlue;
        margin-top: @topMargin;
        // margin-top: 2%;
        margin-bottom: 10%;
        // background-color: #F6F2FF;
        padding-left: 2%;
        padding-right: 2%;

        @media @phone{
            flex-direction: column;
            align-items: center;
        }

        .icons{
            text-align: center;
            margin-bottom: 4%;
            text-shadow: 1px 1px 1px black;
            color: #932F6D;
        }

        hr{
            margin-top: 2%;
            margin-right: 1%;
        }

        .firstDiv{
            width: 75%;
            margin-right: 1%;
            padding: 2%;

            .btn{
                margin-top: 34%;
                // border: @borderBoxBlue;

                @media @phone{
                    margin-top: 7%;
                    margin-bottom: 10%;
                }

                a{
                    text-decoration: none;
                    color: #E07BE0;
                }

            }
    

            p{
                color: #420039;
                opacity: 0.7;
            }

            .fa-wind{
                text-align: center;
                // color: #fff;
                text-shadow: 1px 1px 1px black;
            }
        }// .firstDiv


        .secondDiv{
            width: 75%;
            margin-right: 1%;
            padding: 2%;

            .btn{
                margin-top: 27%;

                @media @phone{
                    margin-top: 4%;
                    margin-bottom: 10%;
                }

                a{
                    text-decoration: none;
                    color: #E07BE0;
                }
            }

            p{
                color: #420039; 
                opacity: 0.7;

                @media @phone{
                    padding: 5%;
                }
            }
            
        }// .secondDIv

        .thirdDiv{
            width: 75%;
            padding: 2%;
           
            p{
                color: #420039; 
                opacity: 0.7;
            }

            .btn{
                margin-top: 5%;

                @media @phone{
                    margin-bottom: 7%;
                    width: 100%;
                    height: 100px;
                }

                button{
                    @media @phone{
                        width: 65%;
                    }
                }

                a{
                    text-decoration: none;
                    color: #E07BE0;
                }
            }

        }// .thirdDiv

        h2{
            color: #932F6D;
            font-size: 2.9rem;
            text-align: center;
            // border: @borderBoxRed;
            margin-bottom: @bottomMargin;
            font-family: 'PT sans', sans-serif;
            font-weight: 200;
        }

        p{
            font-size: 2rem;
            text-align: center;
            // border: @borderBoxRed;
            line-height: 1.4;
            letter-spacing: 1px;
            font-family: 'Source Sans Pro', sans-serif;
            
        }// p tag

        .btn{
            display: flex;
            justify-content: center;
            align-items: baseline;
            // border: @borderBoxBlue;
            height: 60px;
            
            
            button{
                padding: 4%;
                width: 60%;
                border-radius: 10px;
                font-size: 2rem; 
                font-weight: 700;
                color: #DCCCFF;
                background-color: #420039;
                opacity: 0.7;
                box-shadow: #932F6D;
                // border: 1px solid orange;

                a:hover{
                    color: #F6F2FF;
                    font-size: 2.1rem;
                }
            } // button

            button:hover{
                cursor: pointer;
                background-color: #932F6D;
                font-size: 2.1rem;
                box-shadow: 0 0 20px #000000b3;
            }
        }
    } // firstSection


    footer{
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: #932F6D;
        opacity: 0.8;
        height: 150px;
        width: 100%;

        .footerContent{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-top: 1%;
            margin-bottom: 2%;
            width: 70%;
            // border: @borderBoxBlue;

            @media @phone{
                margin-top: 2%;
            }

            h3{
                font-size: 2.5rem;
                color: #420039;
                margin-bottom: 1%;
                color: #420039;
                font-family: sans-serif, serif;

                span{
                    color: #E07BE0;
                }
            }

            .social a{
                margin-right: 1%;
                position: relative;
                left: 5px;
            }

            .copyright{
                font-size: 1.3rem;
                margin-bottom: 5%;
                margin: 5px;
                color: #420039;
                font-family: sans-serif, serif;

                span{
                    color: #E07BE0;
                }
            } // .copyright

            nav{
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                // border: @borderBoxBlue;
                justify-content: space-around;
                height: 100%;
                width: 100%;

                @media @phone{
                    margin-top: 3%;
                }

                a{
                    color: #E07BE0;
                    font-family: sans-serif;
                    width: 100%;
                }
                a:hover{
                    color: #420039;
                    font-size: 1.8rem;
                }
            }// nav
        }// .footerContent
    } // footer

} // body

//////////// ---- Contact Page ------ //////////////

.bg-img{

    background: url(https://images.pexels.com/photos/2914751/pexels-photo-2914751.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: 100%;
    padding: 15%;

    @media @phone{
        background: none;
        padding: 10%;
    }

    .secTwo{
        display: flex;
        justify-content: center;
        margin-bottom: 17%;
    
        .contact-form{
            width: 85%;
            max-width: 600px;
            background: #420039;
            position: relative;
            top: 90px;
            border-radius: 8px;
            padding: 5% 10%;
            box-sizing: border-box;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            box-shadow: 0 0 20px #000000b3;
            letter-spacing: 1px;
            opacity: 0.9;

            @media @phone{
                top: 45%;
                width: 100%;
            }
    
            .c-h1{
                line-height: 2.5;
                margin-bottom: 5%;
                color: #F6F2FF;
                font-size: 2.5rem;
            }
    
            .text-box{
                color: #F6F2FF;
                font-size: 1.4rem;
                border: 1px solid gray;
                margin: 3% 0;
                padding: 6% 9%;
                border-radius: 4%;
    
    
                label{
                    display: block;
                    text-align: left;
                    text-transform: uppercase;
                }
    
                input, textarea{
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 1.8rem;
                    margin-top: 3%;
                    border-radius: 3%;
                    padding: 4%;
                }
    
            }// .text-box
    
            .bttn{
                display: inline-block;
                font-size: 1.7rem;
                color: #F6F2FF;
            }
    
            .bttn:hover{
                color: #932F6D;
                opacity: 1;
            }
            
        }// .contact-form
        
    }// .secTwo

}// .bg-img


#footerTwo{
    border-top: 3px solid #932F6D;
    background-color: #F6F2FF;

    .footerContent nav a{
        color: #420039;
    }
}


