.header-nav{
    // border: 1px solid blue;
    width: 45%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 2%;

    @media @phone{
        justify-content: space-between;
        // border: 2px solid red;
        width: 100%; 
        margin-top: 3%;   
    }
    

    nav{
        // border: 1px solid red;
        width: 90%;
        display: flex;
        justify-content: space-around; 
        text-align: center;


        .logIn{
            color: #932F6D;
        }

        a{
            // border: 1px solid red;
            padding: 2%;
            width: 100%;
            margin-right: 2%;
            text-decoration: none;
            font-size: 2rem;
            color:#932F6D;
        } // a

        a:hover{
            border-bottom: 1px solid #932F6D;

        }
    }// nav
} // header-nav

